<div id = "login_page_div">
  Create New Account
  <br>
  <br>
  <form name="input" action="/create_acct" method="post">
    Username: <input type="text" name="username">
    <br>
    <br>
    Password: <input type="text" name="password">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
