<div id = "login_page_div">
  User Log-In
  <br>
  <br>
<form name="input" action="/login" method="post">
  Username: <input type="text" name="username"><br>
  <br>
  Password: <input type="text" name="password"><br>
  <br>
<input type="submit" value="Submit">
</form>
<% if session[:error] %>
  <p style="color:red"><%= session[:error] %></p>
<% end %>
</div>

