<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="/css/main_page.css"/>
</head>

<div id="welcome">
  <h1>This is Lil'Twitter.</h1>
  <p>A Dev Bootcamp experiment.</p>
</div>

<div id="login_div">
  <h2>Welcome back!</h2>
   <form name="input" action="/create_acct" method="post">
    Username: <input type="text" name="username">
    <br>
    <br>
    Password: <input type="text" name="password">
    <br>
    <br>
    <input type="submit" value="Sign In">
  </form>
</div>
<br>

<div id="signup_div">
  <h2>New to Lil'Twitter?</h2>
  <form name="input" action="/create_acct" method="post">
    Username: <input type="text" name="username">
    <br>
    <br>
    Password: <input type="text" name="password">
    <br>
    <br>
    <input type="submit" value="Sign Up">
  </form>
</div>

</html>
