<form name="input" action="/login" method="post">
<input type="submit" value="Login">
</form><br>
<form name="input" action="/create_acct" method="post">
<input type="submit" value="Create Account">
</form>
