<form name="input" action="/login" method="get">
<input type="submit" value="Login">
</form><br>
<form name="input" action="/create_acct" method="get">
<input type="submit" value="Create Account">
</form>
